{#
/**
 * Global & child errors
 * @file all_error_message.html.twig
 * @param FormView form
 */
#}
{%spaceless%}
    {% if not form.vars.valid %}
        {# throw message for global/child errors#}
        <div class="alert alert-warning">{{ 'form.errors.found'|trans({},'caveerrors') }}</div>
        {% include '@GptCavebackend/partial/form/error/global_errors_message.html.twig' %}
        {% include '@GptCavebackend/partial/form/error/child_errors_message.html.twig' %}
    {% endif %}
    {# throw global errors#}
{%endspaceless%}