{#
/**
 * @file category.html.twig
 * Formulario parcial
 * @parent ./management.html.twig
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.managementcategory)}}</td>
    <td>{{ form_widget(form.managementcategory)}}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.managementclassifier)}}</td>
    <td>{{ form_widget(form.managementclassifier)}}</td>
  </tr>
</table>