{#
/**
 * @file controller.html.twig
 * Formulario parcial
 * @parent ./management.html.twig
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.controller)}}</td>
    <td>{{ form_widget(form.controller)}}</td>
  </tr>
</table>
