{#
/**
 * @file management.html.twig
 * Agrupa los formularios de edición parciales para Cavemanagement entity
 * @parent ../onetoone.html.twig
 */
#}
{% embed '@GptCavebackend/partial/page/panel.html.twig'%}
{% block heading %}{{ ('cave.card.management')|trans({},'cavepages')|raw -}}{% endblock heading %}
{% block body %}
<div class="row">
    <div class="col-lg-auto col-sm-12">
        {% include '@GptCavebackend/content/cave/forms/management/owner.html.twig'%}
    </div>
    <div class="col-lg-4 col-sm-12">
        {% include '@GptCavebackend/content/cave/forms/management/category.html.twig'%}
    </div>
    <div class="col-lg-4 col-sm-12">
        {% include '@GptCavebackend/content/cave/forms/management/controller.html.twig'%}
    </div>
</div>


{% endblock body %}
{% endembed %}