{#
/**
 * Edit Map
 * @file edit.html.twig
 * @param array arrayParams
 * @param FormView form
 * @param FormView delete_form
 * @param Map map
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}

{% block content %}
    {#
    - Cada elemento (menuitem) hace relación a un div (menucontent).
    - Un div contiene un formulario o un conjunto de div paginables con relaciones manytoone
    - Un formulario puede ser una separata de Cave entity u otra entidad relacionada onetoone con Cave
    - Los divs paginables utilizan ventana modal para los formularios.
    #}
    {%include '@GptCavebackend/content/cave/navbar.html.twig'%}
    <nav class="yamm navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav" id="menuItems">
            <li class="nav-item dropdown yamm-fw">
                <a href="#" class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown">{{ 'map.dropdown.dataforms'|trans({}, 'cavepages') }}</a>
                <div class="dropdown-menu" style="padding: 0; margin: 0;">
                    <div class="yamm-content list-menu">
                        {%include '@GptCavebackend/content/map/edit/menuitems-management.html.twig'%}
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div  id="menuContent">
        {%include '@GptCavebackend/content/map/edit/menucontent.html.twig'%}
    </div><!--End #menuContent -->
    {% include '@GptCavebackend/partial/form/modal.html.twig' %}
{% endblock %}

{% block footer_javascripts %}
    {%include '@GptCavebackend/content/cave/script/scripts.html.twig'%}
{%endblock%}