{#
/**
 * @file index.html.twig Página de inicio y búscador
 *
 * @param array arrayParams
 * @param FormView form Formulario de búsqueda
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}

{%set attr = {
        'pager': {'id': 'search_results', 'params': {}},
        'path': path('cave_backend_map_ajaxpager')
}%}

{#scripts de la página#}
{% block page_javascripts %}
{%include '@GptCavebackend/content/map/script/scripts.html.twig'%}
{% endblock page_javascripts %}

{# contenido #}
{% block content %}
{# botones #}
{% set btns =  {
'new': path('cave_backend_map_new')
} %}
{% embed '@GptCavebackend/partial/page/botonera.html.twig'%}
    {% block derecha %}
    <div class="col-lg-12 text-right">
    {%include '@GptCavebackend/partial/form/buttons.html.twig'  with {'btns' : btns} only %}
    </div>
    {% endblock derecha%}
{% endembed %}

{# formulario de búsqueda #}
{%include '@GptCavebackend/content/map/index/index_search_form.html.twig' %}

{# carga de resultados y paginador #}
<div id="{{attr.pager.id}}" 
     class="grotte-paginable"
     data-path='{{attr.path}}'
     data-params=''>
</div>
{% endblock content %}