{#
/**
 * Edit Cave partial form
 * @file coordinates.html.twig
 * @parent cave_partial_forms.html.twig
 * @string formname
 * @param array arrayParams
 * @param FormView form
 * @param Cave cave
 */
#}
<div class="row">
    <div class="col-12">
{% include '@GptCavebackend/content/cave/forms/cave/coordinates/latlng.html.twig'%}
    </div>
    <div class="col-12">
    {% include '@GptCavebackend/content/cave/forms/cave/coordinates/gridref.html.twig'%}
    </div>
    <div class="col-12">
{% include '@GptCavebackend/content/cave/forms/cave/coordinates/altitude.html.twig'%}
    </div>
</div>