{#
/**
 * @file coordinates.html.twig
 */
#}
<div class="row">
    <div class="col-12">
{% include '@GptCavebackend/content/cave/forms/cave/coordinates/latlng.html.twig'%}
    </div>
    <div class="col-12">
    {% include '@GptCavebackend/content/cave/forms/cave/coordinates/gridref.html.twig'%}
    </div>
    <div class="col-12">
{% include '@GptCavebackend/content/cave/forms/cave/coordinates/altitude.html.twig'%}
    </div>
</div>