{#
/**
 * @file form.html.twig Caveotherdbid form
 * @parent  ../onetomany.html.twig
 */
#}
<table class="table">
  <tr>
    <td >{{ form_label(form.otherdbid)}}</td>
    <td class="w-25">{{ form_label(form.position)}}</td>
  </tr>
  <tr>
    <td>{{ form_widget(form.otherdbid)}}</td>
    <td>{{ form_widget(form.position)}}</td>
  </tr>
</table>