{#
/**
 * New Article
 * @file new.html.twig
 * @param array arrayParams
 * @param FormView form
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block content %}
    {%include '@GptCavebackend/content/article/navbar.html.twig'%}
    {% include '@GptCavebackend/partial/form/error/all_errors_message.html.twig'%}
    <div class="alert alert-secondary" role="alert">
        {{ ('article.new.form.title')|trans({},'cavepages')|raw -}}
    </div>
    {% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
    {{ form_start(form) }}

    {% embed '@GptCavebackend/partial/card/card-new.html.twig'%}
        {% block body %}
            {% include '@GptCavebackend/content/article/form/edit_form.html.twig' with {type: 'new'} %}
            {% include '@GptCavebackend/partial/form/nav_new_submit_button.html.twig' %}
        {% endblock body %}
    {% endembed %}

    {{ form_end(form) }}
{%endblock content%}
{% block footer_javascripts %}
    <script>
        let repo = new Repopulate( '#{{ form.country.vars.id }}');
        repo.on('ev.onLoadResponse', (data, el, attr)=>{
            return JSON.parse(data.response).out;//data is in 'out' array
        });
        repo.bindAll();
    </script>
{% endblock footer_javascripts %}