<!DOCTYPE html>
<html>
<head>
    {% set javascripts = [
        'JSimas/JSimas.js',
        'JSimas/JSimas.spinner.js',
        'Grot/EventEmitter.js',
    ]
    %}
    {%for file in javascripts %}
        <script type="text/javascript" src="{{asset(arrayParams.bundle.webasset.js~file)}}"></script>
    {%endfor%}


</head>
<body>
<div id="testdiv">testdiv</div>
</body>
</html>
<script>
        console.log(JSimas.hasOwnProperty('spinner'))
</script>