{#
/**
 * Macro rehusable para generar los enlaces en la paginación
 * @file navigator_links_macro.html.twig
 */
#}
{% macro link(min, max, page) %}
    {% for i in range(min,max) %}
        <li class="page-item{% if page == i  %} active{%endif%}">
            <a href="JavaScript:void(0);"
                    onclick="Grot($(this).closest('.grotte-paginable')).loader('reload',{page: {{i}}});"
                    class="page-link"
                    title="{{('page.number')|trans({'%number%': i},'cavemessages')|raw}}"
            >{{ i }}</a>
        </li>
    {%endfor%}
{% endmacro %}