{#
/**
 * @file edit_buttons.html.twig
 * Botonera para la página de edición
 *
 * @parent ../edit.html.twig
 */
#}
{# botones #}
{% set btns =  {
                'new': path('cave_backend_map_new'),
                'search': path('cave_backend_map_index'),
                'submit': {'txt': 'save.all', 'attr': { 'onclick': '$( \'.submit\' ).each(function( index ) { this.click();})' } }
                } %}

{% embed '@GptCavebackend/partial/page/botonera.html.twig' %}
{% block izquierda %}
    <div class="col-lg-4 text-left">
    <!-- delete -->
    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-trash-o" aria-hidden="true"></span>
          {{'delete'|trans({}, 'cavemessages')|capitalize|raw}}
          <span class="fa fa-caret-down"></span>
      </button>
      <ul class="dropdown-menu nopadding">
        <li><a class="btn btn-warning" onclick="document.getElementById('{{delete_form.vars.attr.id}}').submit();" href="#Delete">{{'delete.confirm'|trans({}, 'cavemessages')|capitalize|raw}}</a></li>
      </ul>
    </div> 
    <!-- end delete --> 
    </div>
{% endblock izquierda %}

{% block centro %}<div class="col-lg-4  text-center"><h4 class="text-info">{% include '@GptCavebackend/partial/page/fdpoload.html.twig' with {'id': 195} %}: {{map.getMapid()}}</h4></div> {% endblock centro%}

{% block derecha %}
    <div class="col-lg-4 text-right">
        {%include '@GptCavebackend/partial/form/buttons.html.twig'  with {'btns' : btns} only %}
    </div>
{% endblock derecha%}
{% endembed %}
{# end botones #}