{#
/**
 * @file navbar.html.twig
 * Barra de navegación
 * @parent ../edit.html.twig
 */
#}
<nav class="navbar yamm navbar-default" role="navigation">
  <!-- El logotipo y el icono que despliega el menú se agrupan
       para mostrarlos mejor en los dispositivos móviles -->
  <div class="navbar-header">
    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <div class="navbar-brand">{% include '@GptCavebackend/partial/page/fdpoload.html.twig' with {'id': 195} only %}: {{map.getMapid()}}</div>
  </div>
 
  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
       otro elemento que se pueda ocultar al minimizar la barra -->
    <div id="navbar-collapse-grid" class="navbar-collapse collapse">

    <div class="nav navbar-nav">
    {%include '@GptCavebackend/content/map/form/dropdown.html.twig' with {'active': active, 'sufix': sufix, 'xparams': xparams} only%}
    </div>

    <div class="nav navbar-nav col-lg-2" aria-label="Separator"></div>

    <div class="nav navbar-nav">
    {%include '@GptCavebackend/content/map/form/buttons.html.twig'%}
    </div>

    <div class="nav navbar-nav navbar-right">
      <li>{%include '@GptCavebackend/content/map/form/delete.html.twig'%}</li>
      <li>&nbsp;&nbsp;</li>
    </div>
    
    </div>
  <!-- end #navbar-collapse-grid -->
</nav>





