{#
/**
 * @file form.html.twig Cavesurfaceuse form
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.surfaceuse)}}</td>
    <td class="w-25">{{ form_label(form.position)}}</td>
  </tr>
  <tr>
    <td>{{ form_widget(form.surfaceuse)}}</td>
    <td>{{ form_widget(form.position, {attr: {class: 'w-50'}})}}</td>
  </tr>
</table>