{#
/**
 * Example modal
 * @file modal.html.twig
 * @param array btns
 */
 #}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                        <div class="modal-header"><h4 class="modal-title">Modal title</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                        <div class="modal-error"></div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"><button type="button" class="btn btn-primary modal-submit">{{ 'savechanges'|trans({},'cavemessages')|raw -}}</button><button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">{{ 'close'|trans({},'cavemessages')|raw -}}</button></div>
                </div>
        </div>
</div>
