{#
/**
 * @file environment.html.twig
 * Agrupa los formularios de edición parciales para Caveenvironment entity
 * @parent ../onetoone.html.twig
 */
#}
{% embed '@GptCavebackend/partial/page/panel.html.twig'%}
{% block heading %}{{ ('cave.card.environment')|trans({},'cavepages')|raw -}}{% endblock heading %}
{% block body %}
    <div class="row">
        <div class="col-lg-auto col-sm-12">
            {% include '@GptCavebackend/content/cave/forms/environment/temperature.html.twig'%}
        </div>
        <div class="col-lg-auto col-sm-12">
            {% include '@GptCavebackend/content/cave/forms/environment/humidity.html.twig'%}
        </div>
        <div class="col-lg-auto col-sm-12">
            {% include '@GptCavebackend/content/cave/forms/environment/waterflow.html.twig'%}
        </div>
        <div class="col-lg-auto col-sm-12">
            {% include '@GptCavebackend/content/cave/forms/environment/water.html.twig'%}
        </div>
    </div>


{% endblock body %}
{% endembed %}
