{#
/**
 * @file temperature.html.twig
 * Formulario parcial
 * @parent ./environment.html.twig
 */
#}
  <table class="table">
    <tr>
      <td>{{ form_label(form.minimumtemperature)}}</td>
      <td>{{ form_widget(form.minimumtemperature)}}</td>
    </tr>
    <tr>
      <td>{{ form_label(form.maximumtemperature)}}</td>
      <td>{{ form_widget(form.maximumtemperature)}}</td>
    </tr>
  </table>

