{#
/**
 * @file water.html.twig
 * Formulario parcial
 * @parent ./environment.html.twig
 */
#}
<table class="table">
  <tr>
    <td>{{ form_label(form.internalwater)}}</td>
    <td>{{ form_widget(form.submersion)}}</td>
  </tr>
  <tr>
    <td>{{ form_label(form.submersion)}}</td>
    <td>{{ form_widget(form.internalwater)}}</td>
  </tr>
</table>