{#
/**
 * Locale toggle
 * @file locale.html.twig
 * @parent ../navbar.html.twig
 */
#}
<script type="application/javascript">
 function setPostSessionLocale(current, route){
  $.post(route, {},
          function(data, status){
           if(typeof data.locale !== 'undefined'){
               location.reload();
           }else if((typeof data.error !== 'undefined')){
               //usually $request->hasPreviousSession() is null on first load. Only log
               console.log('Error: ' + data.error);
           }
           else{
               console.log(alert('Desconocido: ' + data + '\nStatus: ' + status));
           }
          });
 }
</script>
<li class="nav-item py-2">
    <div class="btn-group btn-group-sm" data-toggle="buttons">
        <button type="button" style="font-size: 0.7em" class="btn {{ app.request.locale=='en' ? 'btn-primary' : 'btn-secondary' }} btn-sm"
                onclick="setPostSessionLocale(this, '{{path('cave_backend_json_locale', {_locale: 'en'})}}')">English</button>
        <button type="button" style="font-size: 0.7em" class="btn {{ app.request.locale=='es' ? 'btn-primary' : 'btn-secondary' }} btn-sm"
                onclick="setPostSessionLocale(this, '{{path('cave_backend_json_locale', {_locale: 'es'})}}')">Español</button>
    </div>
</li>