{#
 * @file edit.html.twig
 * @parent menucontent.html.twig
 * @param array arrayParams
 * @param FormView form
 * @param FormInterface delete_form
 * @param Cave cave
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block page_javascripts %}
    {%include '@GptCavebackend/content/cave/script/scripts.html.twig'%}
{%endblock%}
{% block content %}

    {%include '@GptCavebackend/content/cave/navbar.html.twig'%}
    <nav class="yamm navbar navbar-expand-lg navbar-light bg-info">
        <ul class="navbar-nav" id="menuItems">
            <li class="nav-item dropdown yamm-fw ">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Formularios principales</a>
                <div class="dropdown-menu">
                    <div class="yamm-content">
                        {%include '@GptCavebackend/content/cave/edit/menuitems.html.twig'%}
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown yamm-fw ">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Formularios Secundarios</a>
                <div class="dropdown-menu">
                    <div class="yamm-content">
                        {%include '@GptCavebackend/content/cave/edit/menuitemsmanytoone.html.twig'%}
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <div  id="menuContent">
        {%include '@GptCavebackend/content/cave/edit/menucontent.html.twig'%}
    </div><!--End #menuContent -->
    {% include '@GptCavebackend/partial/form/modal.html.twig' %}
{% endblock %}