{#
/**
 * New Cave
 * @file new.html.twig
 * @param array arrayParams
 * @param FormView form
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block content %}
    {%include '@GptCavebackend/content/cave/navbar.html.twig'%}
    {% include '@GptCavebackend/partial/form/error/all_errors_message.html.twig'%}
    <div class="alert alert-secondary" role="alert">
        {{ ('cave.new.form.title')|trans({},'cavepages')|raw -}}
    </div>
    {% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
    {{ form_start(form) }}

            {% include '@GptCavebackend/content/cave/forms/cave/name/name.html.twig' with {type: 'new'} %}
            {% include '@GptCavebackend/partial/form/nav_new_submit_button.html.twig' %}

    {{ form_end(form) }}
{%endblock content%}