{#
/**
 * @file buttons.html.twig
 * Botones para el formulario de edición
 *
 * @parent ./navbar.html.twig
 */
#}
{% set btns =  {
        'new': path('cave_backend_specie_new'),
        'search': path('cave_backend_specie_index'),
        'save': {'type': 'submit', 'attr': { 'onclick': clickEvent }, 'icon': {'class': 'submit'} },
        } %}
<div class="navbar-btn">
{%include '@GptCavebackend/partial/form/buttons.html.twig'  with {'btns' : btns} only %}
</div>