{#
/**
 * @file form.html.twig Cavespecie form
 * @parent  ../manytoone.html.twig
 */
#}
{% embed '@GptCavebackend/partial/card/card-edit.html.twig' %}
    {% block body %}
        <div class="row">
            <div class="col">
                {%include '@GptCavebackend/content/cave/forms/specie/form/confidence.html.twig'%}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {%include '@GptCavebackend/content/cave/forms/specie/form/specie.html.twig'%}
            </div>
        </div>
    {% endblock body %}
{% endembed %}

{% embed '@GptCavebackend/partial/card/card-edit.html.twig' %}
        {% block body %}
            <div class="row">
                <div class="col">
                    {%include '@GptCavebackend/content/cave/forms/specie/form/article.html.twig'%}
                </div>
            </div>
        {% endblock body %}
{% endembed %}
