{#
/**
 * @file form.html.twig Cavespecie form
 * @parent  ../onetomany.html.twig
 */
#}
<div class="row">
    <div class="col-lg-6 col-sm-12">
        {%include '@GptCavebackend/content/cave/forms/specie/form/confidence.html.twig'%}
    </div>
    <div class="col-lg-6 col-sm-12">
        {%include '@GptCavebackend/content/cave/forms/specie/form/specie.html.twig'%}
    </div>

</div>
<div class="row justify-content-center">
    <div class="col-lg-7 col-sm-12">
    {%include '@GptCavebackend/content/cave/forms/specie/form/article.html.twig'%}
    </div>
</div>


