{#
/**
 * New Mapserie
 * @file new.html.twig
 * @param array arrayParams
 * @param FormView form
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block content %}
    {%include '@GptCavebackend/content/mapserie/navbar.html.twig'%}
    {% include '@GptCavebackend/partial/form/error/all_errors_message.html.twig'%}
    <div class="alert alert-secondary" role="alert">
        {{ ('mapserie.new.form.title')|trans({},'cavepages')|raw -}}
    </div>
    {% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
    {{ form_start(form) }}
    {% embed '@GptCavebackend/partial/card/card-new.html.twig' %}
        {% block body %}
            {% include '@GptCavebackend/content/mapserie/form/edit_form.html.twig' %}
            {% include '@GptCavebackend/partial/form/nav_new_submit_button.html.twig' %}
        {% endblock body %}
    {% endembed %}

    {{ form_end(form) }}
{%endblock content%}

{% block footer_javascripts %}
    {%include '@GptCavebackend/content/mapserie/script/scripts.html.twig'%}
{% endblock footer_javascripts %}