{#
/**
 * Edit Cave partial form
 * @file partial.html.twig
 * @string formname
 * @param array arrayParams
 * @param FormView form
 * @param Cave cave
 */
#}
{% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
{{ form_start(form) }}
<div class="errors"></div>
{% if formname == 'identity' %}
    {% include '@GptCavebackend/content/cave/forms/cave/name/name.html.twig'%}
    {% include '@GptCavebackend/content/cave/forms/cave/measure/measure.html.twig'%}
{% else %}
    {% include '@GptCavebackend/content/cave/forms/cave/'~formname~'/'~formname~'.html.twig'%}
{% endif %}

{% include '@GptCavebackend/partial/form/nav_edit_submit_button.html.twig' %}
{{ form_end(form) }}
<script type="text/javascript">
    $(document).ready(function() {
        let formMain =    document.getElementById('{{ form.vars.attr.id }}');
        let submitBttn = formMain.querySelector('button[type=submit]');
        let submitUrl =  '{{ path('cave_backend_cave_save_partial', {id: cave.getCaveid(), name: formname}) }}';
        let errors =  formMain.querySelector('.errors');

        let submitFn =  function () {
            errors.innerHTML='';
            Grot(formMain).form('submit', submitUrl, {callback: function (data) {
                    if(data.length!==0) errors.innerHTML= data;
                }});
            return false;
        };
        formMain.onsubmit = function () {
            return false;
        };
        submitBttn.addEventListener('click', function () {submitFn(); return false;});
    });
</script>