{#
/**
 * Manytoone pagination
 * @file ?.html.twig
 * @parent menucontent.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'decoration', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'protection', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'access', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'use', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'surfaceuse', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'damage', cave: cave} only%}
</div>