{#
/**
 * Manytoone pagination
 * @file ?.html.twig
 * @parent menucontent.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'development', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'hazard', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'pitch', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'difficulty', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'equipment', cave: cave} only%}
</div>