{#
/**
 * Manytoone pagination
 * @file ?.html.twig
 * @parent menucontent.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'specie', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'reference', cave: cave} only%}
</div>
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'excluded', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'todo', cave: cave} only%}
</div>
