{#
/**
 * Manytoone pagination
 * @file ?.html.twig
 * @parent menucontent.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'entranceft', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'entrancedev', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'entranceline', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'decoration', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col4.html.twig' with {name: 'cavetype', cave: cave} only%}

</div>
