{#
/**
 * Manytoone pagination
 * @file col4.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="col-lg-4 col-sm-12 pt-2">
    <div class="card card-soft-blue card-minimo">
        <div class="card-header">{{ ('cave.card.'~name)|trans({},'cavepages')|raw }}</div>
        <div class="card-body">
            <div id="grottepaginable-{{ name }}"
                 class="grotte-paginable"
                 style="height: 220px!important;"
                 data-path='{{path('cave_backend_cave_onetomany', {name: name, id: cave.getCaveid()})}}'
                 data-params=''>
            </div>
        </div>
    </div>
</div>