{#
/**
 * Manytoone pagination
 * @file col4.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="col-lg-6 col-sm-12">
    {% embed '@GptCavebackend/partial/page/panel.html.twig'%}
        {% block heading %}{{ ('cave.card.'~name)|trans({},'cavepages')|raw }}{% endblock heading %}
        {% block body %}
            {# paginator div #}
            <div id="grottepaginable-{{ name }}"
                 class="grotte-paginable"
                 data-path='{{path('cave_backend_cave_onetomany', {name: name, id: cave.getCaveid()})}}'
                 data-params=''>
            </div>
        {% endblock body %}
    {% endembed %}
</div>