{#
/**
 * @file menuitemsmanytoone.html.twig
 * @parent ./edit.html.twig
 */
#}
<div class="row">
<div class="col-sm-4">
    <div class="list-group">
        <span class="list-group-item">{{ 'cave.menu.main.titleGroup'|trans({}, 'cavepages') }}</span>
        <a href="#karst-mto01" onclick="menuloader.load(this)" class="list-group-item">{{ 'cave.menu.main.mto01'|trans({}, 'cavepages') }}</a>
        <a href="#karst-mto02" onclick="menuloader.load(this)" class="list-group-item">{{ 'cave.menu.main.mto02'|trans({}, 'cavepages') }}</a>
        <a href="#karst-mto03" onclick="menuloader.load(this)" class="list-group-item">{{ 'cave.menu.main.mto03'|trans({}, 'cavepages') }}</a>
    </div>
</div>
</div>
