{#
/**
 * Manytoone pagination
 * @file ?.html.twig
 * @parent menucontent.html.twig
 * @param array arrayParams
 * @param Cave cave
 */
#}
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'access', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'cavetype', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'comment', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'content', cave: cave} only%}
</div>

<div class="row">

    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'damage', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'decoration', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'development', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'difficulty', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'direction', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'entrancedev', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'entranceft', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'entranceline', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'equipment', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'excluded', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'grid', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'hazard', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'importance', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'name', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'pitch', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'previousnumber', cave: cave} only%}
</div>


<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'prospect', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'protection', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'reference', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'rocktype', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'specie', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'surfaceuse', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'todo', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'use', cave: cave} only%}
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'crossreference', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'hazard', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'previousnumber', cave: cave} only%}
</div>
<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'widestmap', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col3.html.twig' with {name: 'otherdbid', cave: cave} only%}

</div>
<div class="row">
</div>

<div class="row">
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'discovery', cave: cave} only%}
    {%include '@GptCavebackend/content/cave/edit/col6.html.twig' with {name: 'descriptionline', cave: cave} only%}

</div>
