{#
/**
 * Manytoone pagination div
 * @file paginator_template_macro.html.twig
 */
#}
{% macro blue_paginator_div(cols, name , map) %}
    <div class="col-lg-{{ cols }} col-sm-12 pt-2">
        <div class="card card-soft-blue card-minimo">
            <div class="card-header">{{ ('map.card.'~name)|trans({},'cavepages')|raw }}</div>
            <div class="card-body">
                <div id="grottepaginable-{{ name }}"
                     class="grotte-paginable"
                     style="height: 220px!important;"
                     data-path='{{path('cave_backend_map_manytoone', {name: name, id: map.getMapid()})}}'
                     data-params=''>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}
