{#
/**
 * New Area
 * @file new.html.twig
 * @param array arrayParams
 * @param FormView form
 */
#}
{% extends '@GptCavebackend/base.html.twig' %}
{% block page_javascripts %}
    {%include '@GptCavebackend/content/area/script/scripts.html.twig'%}
{%endblock page_javascripts%}
{% block content %}
    {%include '@GptCavebackend/content/area/navbar.html.twig'%}
    {% include '@GptCavebackend/partial/form/error/all_errors_message.html.twig'%}
    <div class="alert alert-primary" role="alert">
        {{ ('area.new.form.title')|trans({},'cavepages')|raw -}}
    </div>
    {% form_theme form '@GptCavebackend/symfony/fields.html.twig' %}
    {{ form_start(form) }}
    {% include '@GptCavebackend/content/area/form/edit_form.html.twig' %}
    {% include '@GptCavebackend/partial/form/nav_new_submit_button.html.twig' %}
    {{ form_end(form) }}
{%endblock content%}
{% block footer_javascripts %}
    <script>
        let repo = new Repopulate( '#{{ form.country.vars.id }}');
        repo.on('ev.onLoadResponse', (data, el, attr)=>{
            return JSON.parse(data.response).out;//data is in 'out' array
        });
        repo.bindAll();
    </script>
{% endblock footer_javascripts %}