{#
/**
 * Estandarizando contenidos con 'card' de bootstrap
 * @file card-edit.html.twig
 */
#}
<div class="card m-0 p-0 card-soft-blue card-minimo">
    <div class="card-header">{% block heading %}&nbsp;{% endblock heading %}</div>
    <div class="card-body">
        {% block body %}{% endblock body %}
    </div>
    {% block footer %}{% endblock footer %}
</div>