{#
/**
 *
 */
#}
<div class="card m-0 p-0 card-regular-green card-minimo">
    <div class="card-header">{% block heading %}{% endblock heading %}</div>
    <div class="card-body">
        {% block body %}{% endblock body %}
    </div>
    {% block footer %}{% endblock footer %}
</div>