{#
/**
 * Edit Cave onetoone form
 * @file description.html.twig
 * @parent edit_onetoone_forms.html.twig
 * @string formname
 * @param array arrayParams
 * @param FormView form
 * @param Cave cave
 * @param string delete_token THIS form delete token
 */
#}
{% embed '@GptCavebackend/partial/card/card-edit.html.twig'%}
{% block heading %}{{ form_label(form.description)}}{% endblock heading %}
{% block body %}
{{ form_widget(form.description, { 'attr': {'style': 'min-height: 300px'} })}}</td>
{% endblock body %}
{% endembed %}